@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');

*{
    font-family: 'Andika', sans-serif;
}

body{
    background-color: #F5F5DC;
}

main{
    width: 90%;
    margin: auto;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.syllabes{
    width: 100px;
    height: 100px;
    margin: 20px 20px;
    border-radius: 5px;
    font-weight: bold;
}