@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

*{
    font-family: 'Londrina Solid', cursive;
    font-size: xx-large;
}

body{
    background-color: #F5F5DC;
}

main{
    width: 90%;
    margin: auto;
}

#my-syllabes{
    --w:100px;
    --n:4;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(clamp(100%/(var(--n) + 1) + 0.1%,var(--w),100%),1fr)); /*this */
    gap:10px;
}

.syllabes{
    height:100px;
    align-items: center;
    border-radius: 15px;
    border-style: none;
    text-transform: uppercase;
    color: white;
}